.advantages {
  background-color: $color-ghost-white;
  padding: 96px 11.5% 139px 13.2%;

  @include tablet {
    padding: 92px calc(45 / 768 * 100%) 100px;
  }

  @include mobile {
    padding: 64px calc(45 / 768 * 100%) 67px;
  }
}

.advantages__wrapper {
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-template-rows: repeat(2, 50%);
  grid-column-gap: 60px;
  max-width: 1366px;
  margin: 0 auto;

  @include tablet {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto auto;
    grid-column-gap: 53px;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.advantages__title {
  margin: 0 0 56px -11px;
  text-align: center;

  @include tablet {
    margin: 0 0 47px -22px;
  }

  @include mobile {
    margin: 0 0 48px -17px;
  }
}

.advantages__item {
  @include mobile {
    margin-bottom: 42px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--central {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    min-width: calc(240 / 1040 * 100%);
    background-color: $color-resolution-blue;
    margin: 0 11px 0 -11px;
    padding: 42px 0 58px 0;

    @include tablet {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      margin: 44px 17.4% 41px;
    }

    @include mobile {
      margin: 0 0 41px 0;
      width: 100vw;
    }
  }
}
