.coaches {
  padding: 0 0 140px 0;

  @include tablet {
    padding: 58px 0 68px;
  }

  @include mobile {
    padding: 21px 0 70px;
  }
}

.coaches__inner {
  padding: 0 7%;
}

.coaches__title {
  max-width: 1366px;
  margin: 0 auto 48px;

  @include tablet {
    margin: 0 6px 31px 0;
    text-align: center;
  }

  @include mobile {
    margin: 0 5px 42px 0;
  }
}
