.coaches-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
  background: rgba(16, 38, 84, 0.89);
  color: $color-default-white;
  padding: 51px 2px 52px;
  visibility: hidden;
  opacity: 0;
   overflow: auto;

  @include tablet {}

  @include mobile {
    padding: 42px 2px 0;
  }
}

.coaches-card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;


  span {
    margin-bottom: 29px;
    font-family: $ff-roboto-regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-spindle;
    text-align: center;

    @include tablet {}

    @include mobile {
      margin-bottom: 32px;
      font-size: size(68px);
      line-height: size(102px);
    }
  }
}

.coaches-card__title {
  font-family: $ff-roboto-bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin: 0 0 1px 0;

  @include tablet {}

  @include mobile {
    margin: 0 0 -3px 0;
    font-size: size(77px);
    line-height: size(115px);
  }
}

.coaches-card__list {
  padding: 0 0 0 27%;
  font-family: $ff-roboto-regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  list-style-type: disc;

  @include tablet {
    padding: 0 3% 0 27%;
  }

  @include mobile {
    padding: 0 3% 0 21%;
    font-size: size(60px);
    line-height: size(90px);
  }
}

.coaches-card__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  &::marker {
    @include mobile {
      display: inline-block;
      position: relative;
      top: 0;
      left: 0;
      font-size: size(60px);
      line-height: size(90px);
    }

  }
}
