.contacts {
  padding: 55px 94px 64px 124px;

  @include tablet {
    border-top: none;
    padding: 62px 0 64px 17%;
  }

  @include mobile {
    padding: 64px 15px 65px;
  }
}

.contacts__inner {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 25%;
  grid-row-gap: 22px;
  grid-auto-flow: row;

  @include tablet {
    grid-column-gap: 0;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 49.5%;
    height: 92%;
    width: 1px;
    background-color: $color-light-slate-grey;

    @include tablet {
      left: 42%;
    }

    @include mobile {
      content: none;
    }
  }
}

.contacts__descriptions {
  margin: 0;
  color: $color-sapphire;

  @include mobile {
    margin-bottom: -3px;
  }

  dt {
    margin-bottom: 1px;
    font-family: $ff-roboto-bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    @include tablet {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 3px;
    }

    @include mobile {
      margin-bottom: 6px;
    }
  }

  dd {
    margin: 0;
    font-family: $ff-roboto-regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    @include tablet {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &--order1 {
    order: 1;
  }

  &--order2 {
    order: 2;

    @include mobile {
      order: 3;
    }
  }

  &--order3 {
    order: 3;

    @include mobile {
      order: 2;
    }
  }

  &--order4 {
    order: 4;
  }

  a {
    display: inline-block;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          outline: 1px solid $color-cobalt;
        }
      }
    }
  }
}

.contacts__title {
  margin: 0 0 37px -4px;

  @include tablet {
    margin: 0 0 33px 2px;
  }

  @include mobile {
    margin: 0 0 34px;
  }
}
