.discounts {
  border: 7px solid transparent;
  border-image: linear-gradient(148.82deg, $color-crimson 0.85%, $color-smalt 100%);
  border-image-slice: 1;
  width: 100%;
  padding: 24px 27px 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  &--short {
    @include tablet {
      padding-right: 56px;
    }
  }

  @include mobile {
    align-items: center;
    padding: 35px 27px 40px;
  }

  dl {
    margin: 0;
    color: $color-resolution-blue;

    @include tablet {
      margin-bottom: 38px;
    }

    @include mobile {
      margin-bottom: 16px;
      align-items: center;
    }
  }

  dt {
    font-family: $ff-roboto-bold;
    font-weight: 700;
    font-size: 26px;
    line-height: 27px;
    margin-bottom: 9px;

    @include mobile {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  dd {
    font-family: $ff-roboto-regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding-bottom: 11px;

    @include mobile {
      text-align: center;
    }
  }
}

.discounts__link {
  font-family: $ff-roboto-bold;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-resolution-blue;
  border-bottom: 1px solid $color-resolution-blue;

  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        background-color: $color-cobalt;
        color: $color-default-white;
      }
    }

    &.focus-visible:focus {
      background-color: $color-cobalt;
      color: $color-default-white;
    }
  }
}
