.feedback-form {
  background-color: $color-sapphire;
  padding: 55px 168px 50px 103px;
}

.feedback-form__title {
  font-family: $ff-alumni-extra-bold;
  font-weight: 800;
  font-size: 54px;
  line-height: 84px;
  letter-spacing: 0.03em;
  color: $color-default-white;
  margin: 0 0 18px 0;
}
