.feedback-form {
  padding: 55px 168px 50px 103px;
  // padding: 55px size(168px) 50px size(103px);
  // height: 100%;

  @include tablet {
    // padding: 61px 162px 67px 132px;
    padding: 62px 162px 68px 132px;
  }

  @include mobile {
    padding: 64px 15px 69px;
  }
}

.feedback-form__title {
  font-family: $ff-alumni-extra-bold;
  font-weight: 800;
  font-size: 54px;
  line-height: 84px;
  letter-spacing: 0.03em;
  color: $color-default-white;
  margin: 0 0 21px;

  @include tablet {
    font-size: 42px;
    line-height: 50px;
    margin: 0 0 37px 0;
  }

  @include mobile {
    margin: 0 0 38px 1px;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
  }
}
