.games-promo-date {
  background-color: $color-torch-red;
  color: $color-default-white;
  padding: 81px 77px 84px 76px;
  font-family: $ff-roboto-regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @include tablet {
    padding: 47px 44px 50px;
  }
}

.games-promo-date__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 9px;

  @include tablet {
    margin-bottom: 2px;
  }
}

.games-promo-date__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 5px;

  @include tablet {
    padding-left: 4px;
  }
}

.games-promo-date__bunner {
  font-family: $ff-alumni-semi-bold;
  font-weight: 600;
  font-size: 82px;
  line-height: 79px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 4px 0 0 11px;

  @include tablet {
    font-size: 48px;
    line-height: 46px;
    padding: 4px 0 0 7px;
  }
}

.games-promo-date__description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include tablet {
    padding-right: 2px;
  }

  @include mobile {
    padding-right: 1px;
  }
}

.games-promo-date__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 8px 0;

  &:last-child {
    margin: 0;
  }

  dt {
    position: relative;
    font-family: $ff-roboto-regular;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    &::after {
      position: absolute;
      content: "";
      bottom: -5px;
      left: -2px;
      height: 1px;
      width: 180%;
      background-color: $color-default-white;

      @include tablet {
        bottom: -2px;
      }
    }

    @include tablet {
      font-size: 12px;
      line-height: 18px;
    }
  }

  dd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
  }

  @include tablet {
    margin: 0;
  }
}

.games-promo-date__title {
  font-family: $ff-roboto-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 0 0 45px 0;

  @include tablet {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 30px 0;
  }
}

.games-promo-date__link {
  display: inline-block;
  font-family: $ff-roboto-bold;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $color-default-white;
  border: 4px solid $color-default-white;
  width: 100%;
  padding: 25px 0 24px;

  @include tablet {
    font-size: 10px;
    line-height: 12px;
    padding: 10px 0 11px;
  }

  @include mobile {
    border-width: 2px;
    padding: 12px 0 13px;
  }
}

.games-promo-date__number {
  display: inline-block;
  font-family: $ff-roboto-bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  @include tablet {
    font-size: 24px;
    line-height: 34px;
  }
}

.games-promo-date__month {
  font-family: $ff-roboto-regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @include tablet {
    font-size: 10px;
    line-height: 15px;
  }
}

.games-promo-date__year {
  font-family: $ff-roboto-regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @include tablet {
    font-size: 10px;
    line-height: 15px;
  }
}
