.gym-membership {
  position: relative;
  background: url("../img/rogue@1x.png") 120.5% 117.2% / 34.5% no-repeat, linear-gradient(to bottom, $color-ghost-white 92%, $color-transparent 92%);
  padding: 122px 0 197px;

  @include tablet {
    padding: 101px 0 197px;
    background: url("../img/rogue@1x.png") 121.9% 102% / 55% no-repeat, linear-gradient(to bottom, $color-ghost-white 95%, $color-transparent 95%);
  }

  @include mobile {
    background: linear-gradient(to bottom, $color-ghost-white 95%, $color-transparent 95%);
    padding: 64px 0 145px;
  }
}

.gym-membership__title {
  margin: 0 0 17px -5px;

  @include tablet {
    margin: 0 0 20px -13px;
  }
}

.gym-membership__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.gym-membership__pagination {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 44px;
  }

  @include mobile {
    margin-bottom: 34px;
  }
}

.gym-membership__content {
  width: 100%;
}

.gym-membership__list,
.gym-membership__card-list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.gym-membership__card-list {
  display: none;

  &.is-active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: calc(40 / 1160 * 100%);

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.gym-membership__card-list-item {
  list-style-type: none;

  @include tablet {
    width: 65%;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mobile {
    width: 100%;
  }
}

.gym-membership__list-content {
  list-style-type: none;
  position: relative;
  top: 0;
  left: 0;
}
