.gym {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;

  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 115px;

    @include tablet {
      height: 83px;
    }

    @include mobile {
      content: none;
    }
  }
}

.gym__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 120px 7.5% 100px 7.5%;

  @include tablet {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 101px 0 100px;
  }

  @include mobile {
    padding: 64px 0 110px;
  }
}

.gym__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 39px 76px 50px 59px;

  @include tablet {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 calc(94 / 768 * 100%) 36px;
    text-align: center;
  }

  @include mobile {
    align-items: flex-start;
    padding: 0 13px;
  }

  b {
    font-family: $ff-roboto-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $color-sapphire;
    margin: 0 0 40px 0;

    @include tablet {
      margin: 0 0 34px 0;
    }

    @include mobile {
      margin: 0 0 24px 2px;
    }
  }

  p {
    margin: 0 0 7px 0;
    font-family: $ff-roboto-light;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $color-sapphire;

    @include mobile {
      text-align: left;
      padding-right: 11%;
      margin: 0 0 33px 0;
    }

    &:last-child {
      margin: 0;
    }

    @include tablet {
      display: none;

      &:first-of-type {
        display: block;
      }
    }
  }
}

.gym__title {
  margin: 0 0 7px 0;

  @include tablet {
    margin: 0 0 -1px -16px;
  }

  @include mobile {
    margin: 0 0 5px 2px;
  }
}

.gym__banner {
  width: calc(660 / 1158 * 100%);
  flex-shrink: 0;

  @include tablet {
    width: 100%;
    padding: 0 calc(45 / 768 * 100%);
    flex-shrink: 1;
  }

  @include mobile {
    height: auto;
    padding: 0;
  }
}

.gym__picture {
  width: 100%;
  height: 100%;
  display: block;
}

.gym__image {
  width: 100%;
  background-color: $color-hawkes-blue;
}

.gym__video {
  position: absolute;
  top: 295px;
  left: 53%;
  transform: translate(-50%, 50%);
  width: size(364px);
  height: size(228px);
  max-width: 364px;
  max-height: 228px;
  cursor: pointer;

  @include tablet {
    top: 503px;
    left: 50%;
    width: size(475px);
    height: size(297px);
  }

  @include mobile {
    position: relative;
    width: 100%;
    height: size(713px);
    max-width: 100vw;
    max-height: 100vh;
    transform: none;
    top: 40px;
    left: 0;
  }

  &--poster {
    &::after {
      position: relative;
      content: "";
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/poster-desktop@1x.jpg");
      display: inline-block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      @include tablet {
        background-image: url("../img/poster-tablet@1x.jpg");
      }

      @include mobile {
        background-image: url("../img/poster-mobile@1x.jpg");
      }

      @include retina {
        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/poster-desktop@2x.jpg");

          @include tablet {
            background-image: url("../img/poster-tabletp@2x.jpg");
          }

          @include mobile {
            background-image: url("../img/poster-mobile@2x.jpg");
          }
        }
      }
    }
  }
}

.webp-true .gym__video {
  &--poster {
    &::after {
      background-color: $color-hawkes-blue;
      background-image: url("../img/poster-desktop@1x.webp");

      @include tablet {
        background-image: url("../img/poster-tablet@1x.webp");
      }

      @include mobile {
        background-image: url("../img/poster-mobile@1x.webp");
      }

      @include retina {
        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background-image: url("../img/poster-desktop@2x.webp");

          @include tablet {
            background-image: url("../img/poster-tablet@2x.webp");
          }

          @include mobile {
            background-image: url("../img/poster-mobile@2x.webp");
          }
        }
      }
    }
  }
}

.gym__player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
