.logo {
  padding-top: 10px;

  @include tablet {
    padding-top: 0;

    svg {
      position: relative;
      top: 0;
      left: -18px;
      transform: scale(0.67);
    }
  }

  @include mobile {
    svg {
      top: -4px;
      left: -24px;
      transform: scale(0.55);
    }
  }
}
