.main-form {
  input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-light-slate-grey;
    margin-bottom: 29px;
    padding: 2px 0 5px;
    font-family: $ff-roboto-regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;

    &::placeholder {
      font-family: $ff-roboto-regular;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $color-default-white;
    }

    @include mobile {
      margin-bottom: 37px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  button {
    width: 100%;
    background-color: transparent;
    border: 3px solid $color-default-white;
    color: $color-default-white;
    padding: 17px 0 16px;
    font-family: $ff-roboto-bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    cursor: pointer;

    @include mobile {
      padding-bottom: 15px;
    }
  }
}

.main-form__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 31px;

  @include tablet {
    grid-column-gap: 12.8%;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2px;
  }
}
