.main-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-top: 30px;
  z-index: 50;
  max-width: 1366px;

  @include tablet {
    padding-top: 34px;
  }

  @include mobile {
    padding-top: 15px;
  }
}

.main-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-header__logo {
  margin: 0 0 0 -1px;
  padding: 0;
}
