.main-title {
  margin: 0;
  font-family: $ff-alumni-extra-bold;
  font-weight: 800;
  font-size: 92px;
  line-height: 110px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $color-default-white;
  padding-bottom: 48px;

  @include tablet {
    font-family: $ff-alumni-extra-bold;
    font-size: 72px;
    line-height: 86px;
    text-transform: none;
    padding-bottom: 37px;
    letter-spacing: 0.03em;
  }

  @include mobile {
    padding-bottom: 24px;
    font-size: 76px;
    line-height: 86px;
    letter-spacing: 0.02em;
  }
}
