.phone-link {
  font-family: $ff-alumni-semi-bold;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: $color-default-white;
  @include tablet {
    font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  }

  @include mobile {
       font-size: 20px;
  line-height: 24px;
      }
}
