.promotions {
  padding: 93px 33px;

  @include tablet {
    // padding: 93px 33px;
    padding: 93px 0;
  }

  @include mobile {
  	 padding: 64px 0;
  }
}

.promotions__title {
  text-align: center;
  margin: 0 0 40px 0;

  @include tablet {
    margin: 0 0 40px -9px;
  }

  @include mobile {
  	margin: 0 0 42px -5px;
  }
}

.promotions__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  // gap: 40px;
  grid-column-gap: 21px;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.promotions__inner {
  width: 96.5%;

  @include tablet {
    width: 100%;
    margin-bottom: 30px;

  }

  @include mobile {}
}

.promotions__inner--right {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 30px;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
