.promo {
  position: relative;
  background: conic-gradient(from 150.87deg at 16.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);

  @include tablet {
    background: conic-gradient(from 155.49deg at 20.7% 35.74%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
  }

  @include mobile {
    background: conic-gradient(from 167.26deg at 35.31% 34.22%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
  }
}

.promo__inner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 51px 0;
  @include tablet {
    padding: 82px 0;
  }

  @include mobile {
    padding: 82px 0 78px;
  }
}

.promo__textual {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 111px 64px 0 148px;

  @include tablet {
    padding: 49px 30px 0 138px;
  }

  @include mobile {
  	width: 100%;
  	padding: 26px 0 0 0;
  }

  p {
    font-family: $ff-alumni-semi-bold;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.03em;
    margin: 0 0 15px 0;
    padding-right: 51px;

    color: $color-default-white;

    @include tablet {
      font-size: 34px;
      line-height: 41px;
      margin: 0 0 7px 0;
      padding-right: 5px;
    }

    @include mobile {
      font-size: 28px;
      line-height: 34px;
      margin: 0 0 12px 0;
    }
  }
}

.promo__link {
  font-family: $ff-roboto-bold;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $color-default-white;

  padding: 20px 54px 19px 54px;
  border: 4px solid $color-default-white;
      @include tablet {
      padding: 20px 30px 19px;
    }

    @include mobile {
          width: 100%;
          text-align: center;
          padding: 21px 0 20px;
    }
}

.promo__description {
  position: absolute;
  top: 356px;
  left: 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include tablet {
    top: 269px;
    left: 46px;
  }

  @include mobile {
    top: 233px;
    left: 14px;
  }

  p {
    margin: 0;
    font-family: $ff-roboto-regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: $color-default-white;
  }
}

.promo__image {
  width: 500px;
  height: 556px;
   @include tablet {
    width: 324px;
  height: 390px;
  }
  @include mobile {
  	display: none;
  }
}
