.section-inner {
  // display: flex;
// max-width: calc(1366px / 2);
width: 50vw;
display: flex;
  // width: 50%;
     @include tablet {
      width: 100vw;
    }
  &--form {
    // justify-content: flex-end;
    background-color: $color-sapphire;
    justify-content: flex-end;

  }

  &--contacts {
    // justify-content: flex-start;
    border-top: 1px solid $color-light-slate-grey;
    justify-content: flex-start;

    @include tablet {
    	border-top: none;
      border-top: none;
    }
  }
}
.section-inner__item {
	width: 100%;
	max-width: calc(1366px / 2);
	     @include tablet {
      max-width: 100%;
    }
}