.slider {}

.slider__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__inner {
  position: relative;

  width: calc(1164 / 1366 * 100%);

  @include tablet {
    width: calc(567 / 768 * 100%);
  }

  @include mobile {
    width: calc(226 / 320 * 100%);
  }
}

.slider__list {
  margin: 0;

  padding: 0;
  list-style-type: none;

  @include tablet {}

  @include mobile {}
}

.slider__item {
  position: relative;


  @include tablet {
    // width: calc(268 / 100 * 100vw);
    width: 268px;
    // margin-right: 1%;
    object-fit: cover;
  }

  @include mobile {}

  &:hover {
    .coaches-card {
      visibility: visible;
      opacity: 1;
    }

    p {
      display: none;
    }
  }

  p {
    width: 100%;
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
    font-family: $ff-roboto-bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: $color-default-white;
  }
}

.slider__picture {
  display: block;

  @include tablet {
    // width: 100%;
    object-fit: cover;
  }

  @include mobile {}
}

.slider__image {

  @include tablet {
    // height: 100%;
    // width: 100%;

    // object-fit: cover;
  }

  @include mobile {}
}

.slider__button-wrapper {
  position: relative;
  width: calc(103 / 1366 * 100%);
  height: 100px;
}

.slider__button {
  top: 16%;
  width: 100%;
  height: 100%;
  border: none;
  background-color: $color-default-white;

  &--prev {
    left: 0;

    @include tablet {
      left: 24px;
    }

    @include mobile {
      left: 38%;
    }
  }

  &--next {
    right: 0;

    @include tablet {
      left: -24px;
    }

    @include mobile {
      left: -38%;
    }
  }

  @include tablet {}

  @include mobile {}
}
