.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  &:last-child {
    margin: 0;
  }

  @include mobile {
    margin-right: 11px;

    &:last-child {
      margin: 0;
    }
  }
}

.socials__link {
  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        border-radius: 50%;
        box-shadow: 0 -9px 10px $color-default-white;
      }
    }

    &.focus-visible:focus {
      border-radius: 50%;
      box-shadow: 0 0 10px $color-default-white;
    }
  }
}
