.tabs {
  max-width: 100%;
}

.tabs__controls {
  list-style-type: none;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  gap: 49px;
  margin: 0;
  padding: 0;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
  }
}

.tabs__control {
  position: relative;
  cursor: pointer;
  color: rgba(16, 38, 84, 0.5);
  margin-right: 49px;
  font-family: $ff-roboto-regular;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  &:last-of-type {
    margin: 0;
  }

  &.is-active {
    // opacity: 1;
    pointer-events: none;
    color: rgba(16, 38, 84, 1);
    border-bottom: 2px solid $color-crimson;

  }
}

.tabs__content {
  margin-bottom: 40px;
  transition: height 0.3s;
}

.tabs__element {
  // padding: 25px;
  // width: 100%;

}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
